*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Kodchasan", sans-serif;
    background-color: #EFEEF3;
    ;
}
.logo{
    width: 10vw;

    @media(max-width: 650px){
        width: 35vw;
    }
}
.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    background-color: #EFEEF3;

    @media(max-width: 650px){
        flex-direction: column;
    }

    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
        list-style-type: none;

        @media(max-width: 650px){
            flex-direction: column;
            padding-top: 20px;
            li{
                padding-top: 15px;
            }
        }
        
        }
}

.mulheres{
    width: 100%;

    @media(max-width: 650px){
        display: none;
    }
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    flex-wrap: wrap;

    @media(max-width: 650px){
        padding-top: 300px;
    }

    img{
        width: 400px;


    }

    .texto1{

        h2{
            font-weight: 400;
            padding-bottom: 20px;

            @media(max-width: 650px){
                font-size: 30px;
                padding-bottom: 50px;
            }
    

        }

        p{
            width: 80%;
            font-size: 27px;
            text-align: center;
        }

        text-align: center;
        width: 40%;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(max-width: 650px){
            width: 100%;
            padding-top: 50px;
            
        }

        
    }
}
.section2{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
    @media(max-width: 650px){
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .texto2{
        text-align: start;
        width: 30%;
        @media(max-width: 650px){
            width: 100%;
        }

        h2{
            font-weight: 400;
            font-size: 25px;
            
        }
    }

    .imagens{
        display: flex;
        justify-content: space-between;
        width: 50%;

        @media(max-width: 650px){
            flex-wrap: wrap;
            padding-top: 40px;
        }
    }
}
